In [1]:
import pandas as pd

In [2]:
cd /net/hawkins/vol1/arpit/STARR_seq_fastafiles/STARRseqdata/Th1_Failed_PairedendRUN_18June_2020/catfiles/d2_d3_r2_r3_mergedfastq/

/net/hawkins/vol1/arpit/STARR_seq_fastafiles/STARRseqdata/Th1_Failed_PairedendRUN_18June_2020/catfiles/d2_d3_r2_r3_mergedfastq

In [3]:
# read the data file
r1_sort = pd.read_csv("../r1Th1_S1_UMI_sorted.tsv", delimiter="\t")
r2_sort = pd.read_csv("r2Th1_S2_UMI_sorted.tsv", delimiter="\t") 
r3_sort = pd.read_csv("r3Th1_S3_UMI_sorted.tsv", delimiter="\t")
d1_sort = pd.read_csv("../UMItools_testforSNIPA/d1Th1_S4_UMI_sorted.tsv", delimiter="\t")
d2_sort = pd.read_csv("d2Th1_S5_UMI_sorted.tsv", delimiter="\t")
d3_sort = pd.read_csv("d3Th1_S6_UMI_sorted.tsv", delimiter="\t")

In [4]:
#merge UMI and rsID with separator : 
d1_sort["rsID_UMI"] = d1_sort["contig"] + ":"+ d1_sort["final_umi"]
d2_sort["rsID_UMI"] = d2_sort["contig"] + ":"+ d2_sort["final_umi"]
d3_sort["rsID_UMI"] = d3_sort["contig"] + ":"+ d3_sort["final_umi"]
r1_sort["rsID_UMI"] = r1_sort["contig"] + ":"+ r1_sort["final_umi"]
r2_sort["rsID_UMI"] = r2_sort["contig"] + ":"+ r2_sort["final_umi"]
r3_sort["rsID_UMI"] = r3_sort["contig"] + ":"+ r3_sort["final_umi"]

In [6]:
d1_sort = d1_sort[["contig", "rsID_UMI","final_umi", "final_umi_count"]]
d2_sort = d2_sort[["contig", "rsID_UMI","final_umi", "final_umi_count"]]
d3_sort = d3_sort[["contig", "rsID_UMI","final_umi", "final_umi_count"]]
r1_sort = r1_sort[["contig", "rsID_UMI","final_umi", "final_umi_count"]]
r2_sort = r2_sort[["contig", "rsID_UMI","final_umi", "final_umi_count"]]
r3_sort = r3_sort[["contig", "rsID_UMI","final_umi", "final_umi_count"]]

In [7]:
# sort values based on contig column 
d1_sort =d1_sort.sort_values(by =["contig"])
r1_sort = r1_sort.sort_values(by =["contig"])
d2_sort =d2_sort.sort_values(by =["contig"])
r2_sort = r2_sort.sort_values(by =["contig"])
d3_sort =d3_sort.sort_values(by =["contig"])
r3_sort = r3_sort.sort_values(by =["contig"])

In [8]:
r1_sort.shape,r2_sort.shape,r3_sort.shape

((28737952, 4), (3432461, 4), (23305346, 4))

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
%matplotlib inline

In [14]:
d1contig = d1_sort["contig"].str.split("_", n=1, expand=True)
d2contig = d2_sort["contig"].str.split("_", n=1, expand=True)
d3contig = d3_sort["contig"].str.split("_", n=1, expand=True)
r1contig = r1_sort["contig"].str.split("_", n=1, expand=True)
r2contig = r2_sort["contig"].str.split("_", n=1, expand=True)
r3contig = r3_sort["contig"].str.split("_", n=1, expand=True)

In [15]:
d1_sort["rsID"] = d1contig[0]
d1_sort["variant"] = d1contig[1]
d2_sort["rsID"] = d2contig[0]
d2_sort["variant"] = d2contig[1]
d3_sort["rsID"] = d3contig[0]
d3_sort["variant"] = d3contig[1]
r1_sort["rsID"] = r1contig[0]
r1_sort["variant"] = r1contig[1]
r2_sort["rsID"] = r2contig[0]
r2_sort["variant"] = r2contig[1]
r3_sort["rsID"] = r3contig[0]
r3_sort["variant"] = r3contig[1]

In [31]:
d1_sort_dedup = d1_sort.drop_duplicates(subset="rsID_UMI", keep="first") #drop duplicates 
d2_sort_dedup = d2_sort.drop_duplicates(subset="rsID_UMI", keep="first") #drop duplicates 
d3_sort_dedup = d3_sort.drop_duplicates(subset="rsID_UMI", keep="first") #drop duplicates 
r1_sort_dedup = r1_sort.drop_duplicates(subset="rsID_UMI", keep = "first")
r2_sort_dedup = r2_sort.drop_duplicates(subset="rsID_UMI", keep = "first")
r3_sort_dedup = r3_sort.drop_duplicates(subset="rsID_UMI", keep = "first")

In [34]:
r1_sort_dedup = r1_sort_dedup.rename({'final_umi_count':'final_umi_count_r1'}, axis=1)
r2_sort_dedup = r2_sort_dedup.rename({'final_umi_count':'final_umi_count_r2'}, axis=1)
r3_sort_dedup = r3_sort_dedup.rename({'final_umi_count':'final_umi_count_r3'}, axis=1)
d1_sort_dedup = d1_sort_dedup.rename({'final_umi_count':'final_umi_count_d1'}, axis=1)
d2_sort_dedup = d2_sort_dedup.rename({'final_umi_count':'final_umi_count_d2'}, axis=1)
d3_sort_dedup = d3_sort_dedup.rename({'final_umi_count':'final_umi_count_d3'}, axis=1)

In [42]:
# count number of barcodes for each condition 

d1_sort_dedup.final_umi.unique

<bound method Series.unique of 1804609     AATGATAAGGA
1804619     AATGATCAGCA
1804616     AATGATCATAA
1804617     AATGATCAGCC
1804618     AATGATCAGAA
               ...
15730411    AATGATAGTTT
15730414    AATGATCCATA
15730420    AATGATACCAC
15730396    AATGATACCTG
15730400    AATGATAGAGT
Name: final_umi, Length: 132390, dtype: object>

In [43]:
#d1_sort_dedup['final_umi'].value_counts()
d1_sort_dedup['final_umi'].nunique(),d2_sort_dedup['final_umi'].nunique(),d3_sort_dedup['final_umi'].nunique(),r1_sort_dedup['final_umi'].nunique(),r2_sort_dedup['final_umi'].nunique(),r3_sort_dedup['final_umi'].nunique()

(1036, 1046, 1053, 1051, 1030, 1054)

In [44]:
r1_sort_dedup.shape,r2_sort_dedup.shape,r3_sort_dedup.shape

((175541, 6), (63750, 6), (151165, 6))

In [45]:
#r1_sort_dropdup.sort_values(["contig", "final_umi"])

In [46]:
d1_sort_dedup.shape, d2_sort_dedup.shape, d3_sort_dedup.shape

((132390, 6), (142862, 6), (155502, 6))

In [51]:
d1_r1_outer = pd.concat([d1_sort_dedup, r1_sort_dedup], axis=0, join='outer', sort=False)

In [52]:
d1_r1_outer.shape

(307931, 7)

In [53]:
d1_r1_outer.head()

,contig,rsID_UMI,final_umi,final_umi_count_d1,rsID,variant,final_umi_count_r1
1804609,rs10001246_C,rs10001246_C:AATGATAAGGA,AATGATAAGGA,14.0,rs10001246,C,NaN
1804619,rs10001246_C,rs10001246_C:AATGATCAGCA,AATGATCAGCA,1.0,rs10001246,C,NaN
1804616,rs10001246_C,rs10001246_C:AATGATCATAA,AATGATCATAA,1.0,rs10001246,C,NaN
1804617,rs10001246_C,rs10001246_C:AATGATCAGCC,AATGATCAGCC,1.0,rs10001246,C,NaN
1804618,rs10001246_C,rs10001246_C:AATGATCAGAA,AATGATCAGAA,1.0,rs10001246,C,NaN

In [54]:
#d1_r1_dropna = d1_r1_outer.dropna()

In [55]:
#d1_r1_dropna.shape

(0, 7)

In [56]:
d1_r1_outer.sort_values

<bound method DataFrame.sort_values of                 contig                  rsID_UMI    final_umi  \
1804609   rs10001246_C  rs10001246_C:AATGATAAGGA  AATGATAAGGA
1804619   rs10001246_C  rs10001246_C:AATGATCAGCA  AATGATCAGCA
1804616   rs10001246_C  rs10001246_C:AATGATCATAA  AATGATCATAA
1804617   rs10001246_C  rs10001246_C:AATGATCAGCC  AATGATCAGCC
1804618   rs10001246_C  rs10001246_C:AATGATCAGAA  AATGATCAGAA
...                ...                       ...          ...
24552527   rs9989163_G   rs9989163_G:AATGATTCATA  AATGATTCATA
24552531   rs9989163_G   rs9989163_G:AATGATTCCTC  AATGATTCCTC
24552535   rs9989163_G   rs9989163_G:AATGATCGCTC  AATGATCGCTC
3106585    rs9991380_A   rs9991380_A:AATGATTTCCT  AATGATTTCCT
17739048   rs9991380_G   rs9991380_G:AATGATCCGCC  AATGATCCGCC

          final_umi_count_d1        rsID variant  final_umi_count_r1
1804609                 14.0  rs10001246       C                 NaN
1804619                  1.0  rs10001246       C                 NaN
1804616                  1.0  rs10001246       C                 NaN
1804617                  1.0  rs10001246       C                 NaN
1804618                  1.0  rs10001246       C                 NaN
...                      ...         ...     ...                 ...
24552527                 NaN   rs9989163       G                 1.0
24552531                 NaN   rs9989163       G                 2.0
24552535                 NaN   rs9989163       G                 1.0
3106585                  NaN   rs9991380       A                 1.0
17739048                 NaN   rs9991380       G                 2.0

[307931 rows x 7 columns]>

In [58]:
d1_r1_leftmerge = pd.merge(left=d1_sort_dedup, right=r1_sort_dedup, how= "left", left_on='rsID_UMI', right_on='rsID_UMI')
d2_r2_leftmerge = pd.merge(left=d2_sort_dedup, right=r2_sort_dedup, how= "left", left_on='rsID_UMI', right_on='rsID_UMI')
d3_r3_leftmerge = pd.merge(left=d3_sort_dedup, right=r3_sort_dedup, how= "left", left_on='rsID_UMI', right_on='rsID_UMI')

In [63]:
d1_r1_leftmerge = d1_r1_leftmerge.sort_values(["contig_x","rsID_x"])
d2_r2_leftmerge = d2_r2_leftmerge.sort_values(["contig_x","rsID_x"])
d3_r3_leftmerge = d3_r3_leftmerge.sort_values(["contig_x","rsID_x"])

In [67]:
d1r1left = d1_r1_leftmerge[["rsID_UMI", "final_umi_count_d1", "final_umi_count_r1"]]
d2r2left = d2_r2_leftmerge[["rsID_UMI", "final_umi_count_d2", "final_umi_count_r2"]]
d3r3left = d3_r3_leftmerge[["rsID_UMI", "final_umi_count_d3", "final_umi_count_r3"]]

In [69]:
#d1r1_d2r2_outermerge = pd.merge(left=d1r1inner, right=d2r2inner, how="outer" ,left_on='rsID_UMI', right_on='rsID_UMI')
d1r1_d2r2_outermerge_left = pd.merge(left=d1r1left, right=d2r2left, how="outer" ,left_on='rsID_UMI', right_on='rsID_UMI')

In [72]:
#d1r1_d2r2_d3r3_outermerge = pd.merge(left=d1r1_d2r2_outermerge, right=d3r3inner, how="outer" ,left_on='rsID_UMI', right_on='rsID_UMI')
d1r1_d2r2_d3r3_outermerge_left = pd.merge(left=d1r1_d2r2_outermerge_left, right=d3r3left, how="outer" ,left_on='rsID_UMI', right_on='rsID_UMI')

In [74]:
d1r1_d2r2_d3r3_outermerge_left.shape

(318937, 7)

In [75]:
all_outer_left = d1r1_d2r2_d3r3_outermerge_left.fillna(0)
#all_outer_inner = d1r1_d2r2_d3r3_outermerge.fillna(0)

In [76]:
all_outer_left

,rsID_UMI,final_umi_count_d1,final_umi_count_r1,final_umi_count_d2,final_umi_count_r2,final_umi_count_d3,final_umi_count_r3
0,rs10001246_C:AATGATAAGGA,14.0,0.0,11.0,5.0,17.0,14.0
1,rs10001246_C:AATGATCAGCA,1.0,0.0,11.0,1.0,2.0,5.0
2,rs10001246_C:AATGATCATAA,1.0,0.0,0.0,0.0,0.0,0.0
3,rs10001246_C:AATGATCAGCC,1.0,0.0,0.0,0.0,0.0,0.0
4,rs10001246_C:AATGATCAGAA,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
318932,rs9989163_G:AATGATCTGTG,0.0,0.0,0.0,0.0,1.0,0.0
318933,rs9989163_G:AATGATTCTAG,0.0,0.0,0.0,0.0,1.0,0.0
318934,rs9989163_G:AATGATTCTAC,0.0,0.0,0.0,0.0,2.0,0.0
318935,rs9989163_G:AATGATACGGC,0.0,0.0,0.0,0.0,1.0,0.0
318936,rs9989163_G:AATGATAAAGA,0.0,0.0,0.0,0.0,1.0,0.0

In [77]:
all_outer_left.to_csv("dna_rnacount_Th1.csv") #### this output will go to jupyternotebook2

In [106]:
all_out_left_dnacount = all_outer_left[["rsID_UMI", "final_umi_count_d1", "final_umi_count_d2", "final_umi_count_d3"]]
all_out_left_rnacount = all_outer_left[["rsID_UMI", "final_umi_count_r1", "final_umi_count_r2", "final_umi_count_r3"]]

In [110]:
all_out_left_dnacount.head(),all_out_left_rnacount.head()

(                   rsID_UMI  final_umi_count_d1  final_umi_count_d2  \
 0  rs10001246_C:AATGATAAGGA                14.0                11.0
 1  rs10001246_C:AATGATCAGCA                 1.0                11.0
 2  rs10001246_C:AATGATCATAA                 1.0                 0.0
 3  rs10001246_C:AATGATCAGCC                 1.0                 0.0
 4  rs10001246_C:AATGATCAGAA                 1.0                 0.0

    final_umi_count_d3
 0                17.0
 1                 2.0
 2                 0.0
 3                 0.0
 4                 0.0  ,
                    rsID_UMI  final_umi_count_r1  final_umi_count_r2  \
 0  rs10001246_C:AATGATAAGGA                 0.0                 5.0
 1  rs10001246_C:AATGATCAGCA                 0.0                 1.0
 2  rs10001246_C:AATGATCATAA                 0.0                 0.0
 3  rs10001246_C:AATGATCAGCC                 0.0                 0.0
 4  rs10001246_C:AATGATCAGAA                 0.0                 0.0

    final_umi_count_r3
 0                14.0
 1                 5.0
 2                 0.0
 3                 0.0
 4                 0.0  )

In [111]:
all_out_left_dnacount = all_out_left_dnacount.rename({'final_umi_count_d1':'rep1', 'final_umi_count_d2':'rep2','final_umi_count_d3':'rep3'}, axis=1)
all_out_left_rnacount = all_out_left_rnacount.rename({'final_umi_count_r1':'rep1', 'final_umi_count_r2':'rep2','final_umi_count_r3':'rep3'}, axis=1)
#first run by mistake dna was renamed as RNA

In [118]:
dnaCount = all_out_left_dnacount.set_index("rsID_UMI")
rnaCount = all_out_left_rnacount.set_index("rsID_UMI")

In [122]:
rnaCount.shape,dnaCount.shape

((318937, 3), (318937, 3))

In [125]:
rnaCount.to_csv("rnaCount.csv")
dnaCount.to_csv("dnaCount.csv")

In [8]:
dat1 = pd.read_csv("d1_r1_leftmerge.csv")
dat2 = pd.read_csv("d2_r2_leftmerge.csv")
dat3 = pd.read_csv("d3_r3_leftmerge.csv")

In [9]:
dat1.contig_x.nunique(), dat2.contig_x.nunique(), dat3.contig_x.nunique()

(7886, 7933, 7992)

In [10]:
dat1.final_umi_x.nunique(), dat2.final_umi_x.nunique(), dat3.final_umi_x.nunique()

(1036, 1046, 1053)

In [6]:
dat.head()

,contig_x,rsID_UMI,final_umi_x,final_umi_count_d1,rsID_x,variant_x,contig_y,final_umi_y,final_umi_count_r1,rsID_y,variant_y
0,rs10001246_C,rs10001246_C:AATGATAAGGA,AATGATAAGGA,14,rs10001246,C,NaN,NaN,NaN,NaN,NaN
1,rs10001246_C,rs10001246_C:AATGATCAGCA,AATGATCAGCA,1,rs10001246,C,NaN,NaN,NaN,NaN,NaN
2,rs10001246_C,rs10001246_C:AATGATCATAA,AATGATCATAA,1,rs10001246,C,NaN,NaN,NaN,NaN,NaN
3,rs10001246_C,rs10001246_C:AATGATCAGCC,AATGATCAGCC,1,rs10001246,C,NaN,NaN,NaN,NaN,NaN
4,rs10001246_C,rs10001246_C:AATGATCAGAA,AATGATCAGAA,1,rs10001246,C,NaN,NaN,NaN,NaN,NaN

In [7]:
dat.contig_x.nunique()

7886